@import '../../scss/config';

.sign-in-container{
  flex-basis: 45%;
  
  .sign-in-title{
    margin-left: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: $dark-color;
  }
  
  .sign-in-sub-title{
    margin-left: 5px;
    color: $dark-color;
  }
  
  .sign-in-form-card {
    background-color: #fff;
    border-top: 2px solid $main-color;
    display: flex;
    flex-direction: column;
    padding: 15px 50px 40px 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-right: 50px;
    
    .buttons{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 120px;
      margin-top: 10px;
    }
  }
}



