@import '../../scss/config';

.sign-in-container {
  flex-basis: 45%;
  margin-bottom: 50px;

  .sign-in-title {
    margin-left: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: $main-color;
  }

  .sign-in-sub-title {
    margin-left: 10px;
    color: $main-color;
  }

  .sign-in-form-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px 50px 40px 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 130px;
      margin-top: 30px;
    }
  }
}

@media (max-width: 1135px) {
  .sign-in-container {
    margin-bottom: 50px;
  }
}

