@import '../../scss/config';

.search-page-container {
	max-width: $website-width;
	display: flex;
	margin: 10px auto;
	flex-direction: column;
}

.search-page-sub-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.similar-results-wrapper {
	margin: 65px 0;
	background-color: rgba(255, 200, 100, 0.4);
}

@media (max-width: 1216px) {
	.search-page-container {
		margin-left: 144px;
	}

	.search-page-sub-header-container {
		.sorting-dropdown-container {
			margin-right: 100px;
		}
	}
}

@media (max-width: 1100px) {
	.search-page-container {
		margin-left: 177px;
	}
}

@media (max-width: 920px) {
	.search-page-container {
		margin-left: 88px;
	}
}

@media (max-width: 764px) {
	.search-page-sub-header-container {
		flex-direction: column;
		.sorting-dropdown-container {
			margin-right: 0px;
		}
	}
}

@media (max-width: 535px) {
	.search-page-container {
		margin-left: 0px;
	}
}
