@import '../../scss/config';

.search-page-container {
	max-width: $website-width;
	display: flex;
	margin: 10px auto;
	flex-direction: column;
}

.search-page-sub-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
