@import '../../scss/config';

.sign-in-sign-up-wrapper {
  background-color: $light-color;
  height: calc(100vh - 75px);
  padding-top: 35px;

  .sign-in-sign-up-container {
    width: $website-width;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
