@import '../../scss/config';

.header {
	background-color: $main-color;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;

	.wrapper {
		width: $max-width;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}