@import '../../scss/config';

.header {
	background-color: $main-color;
	height: $nav-height;
	display: flex;
	align-items: center;
	justify-content: center;

	.wrapper {
		width: $website-width;
		display: flex;
		align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 5px;
	}
}
