@import '../../scss/config.scss';

.saved-items-container {
  width: 90px;
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 35px;
  min-width: 35px;

  .icon-container {
    height: 100%;
    width: 100%;
    position: relative;

    .saved-items-icon {
      height: 100%;
      width: 100%;
      color: white;
    }
    .item-count-container {
      color: $main-color;
      position: absolute;
      font-size: 15px;
      font-weight: bold;
      bottom: 34px;
      left: 11px;
    }
    .item-count-container-2 {
      color: $main-color;
      position: absolute;
      font-size: 14px;
      font-weight: bold;
      bottom: 34px;
      left: 6px;
    }
  }
}
