@import '../../scss/App.scss';

.saved-items-container {
	flex-basis: 10%;
	width: 90px;
	height: 90px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.icon-container {
	height: 100%;
	width: 100%;

	.saved-items-icon {
		height: 100%;
		width: 100%;
		color: white;
	}
	.item-count-container {
		color: $main-color;
		position: absolute;
		font-size: 15px;
		font-weight: bold;
		bottom: 34px;
		left: 11px;
	}
}
